* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    
}

body {
    background-color: #ffdde2;
    font-family: 'Nanum Myeongjo', serif;
    color: #1b2021;
}
/*---------- Nav ----------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 8vh;
    height: 10vh;
    background-color: #ffdde2;
}

.logo {
    width: 33%;
    cursor: pointer;
}

.logo:hover {
    color: #6f5e76;
    transition: color 0.5s ease-in;
}

.burger {
    cursor: pointer;
    display: none;

}

.burger div {
    width: 35px;
    height: 2px;
    background-color: #1b2021;
    margin: 6px;
    transition: all 0.3s ease;
    
}

.nav-menu {
    width: 67%;
    display: flex;
    align-items: center;

}



.links { 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 


.links li, .social-media li {
    list-style: none;   
    
}

.links a, .social-media a {
    text-decoration: none;
    color: #1b2021;
    padding: 0 20px;
}

.links a:hover, .social-media a:hover {
    color: #6f5e76;
    transition: color 0.5s ease;
}


/*------ Blog ------*/

.blog-container {
    padding: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;

}

.blog {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.7rem;

}

.blog img {
    max-width: 100%;
    height: auto;
   
}

.blog p {
    padding: 20px;
}

.blog a {
    margin: 0 auto;
    width: auto;
    height: 25px;
    font-size: 15px;
    text-decoration: none;
    color: #832161;
    border-bottom: 2px solid #832161 ;
}

.blog a:hover {
    color: #3d2645;
    transition: color 1s ease;
}


/*------ Subscribe Newsletter -------*/

.subscribe-container {
    width: 100%;
    background-color: #fff9fc;
    padding: 80px 0;

}

.subscribe-container h1 {
    text-align: center;
    padding-bottom: 40px;
}

.email-wrapper {
    border: 0.5px solid #832161;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-wrapper p {
    width: 80%;
}

.email-box {
    width: 80%;
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.email {
    width: 60%;
    min-width: 200px;
    min-height: 8vh;
    border: 2.5px solid rgba(204, 192, 192, 0.5);
    background-color: #fff9fc;
    padding: 10px;
    font-size: 1rem;
}

.email:focus {
    outline: none;
    border: 2.5px solid #832161;
}

.email::placeholder {
    opacity: 0.5;
    font-family: 'Nanum Myeongjo', serif;
}

.signup-btn {
    width: 25%;
    min-width: 85px;
    height: 8vh;
    background-color: #fff9fc;
    border: 2.5px solid #832161;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1rem;
    color: #832161;
    font-weight: 700;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #832161;
    color: #fff9fc;
    transition: all 0.3s ease-in-out;
}

/*------- Footer -------*/

footer {
    padding: 40px 0;
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.footer-nav li {
    list-style: none;
    margin: 0 25px;
}

.footer-nav a {
    text-decoration: none;
    color: #1b2021;
}

.footer-nav a:hover {
    color: #6f5e76;
    transition: color 0.5s ease;
}

footer p {
    text-align: center;
    padding: 15px;
}



/*------ Responsive ------*/

@media screen and (max-width: 1040px) {
    .blog-container {
        grid-template-columns: 1fr 1fr;
    }

    .email-wrapper {
        width: 80%;
    
    }
    .email-box {
        width: 100%;
    }
}

@media screen and (max-width: 790px) {
    body {
        overflow-x: hidden;   
    }

   
    .burger {
        display: block;
    }

    .activate .line1 {
        transform: rotate(-35deg) translateY(10px) ;

    }

    .activate .line2 {
        opacity: 0;
        
    }

    .activate .line3 {

        transform: rotate(35deg) translateY(-10px);

        
    }

    .nav-menu {
        position: absolute;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: #ffdde2;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out; 
        display: none;

    }

    .nav-active {
        display: block;
        transform: translateX(0%);
    }

    .links {
        width: 100%;
        flex-direction: column;
        font-size: 2rem;
        height: 60%;
        
    }

    .social-media {
        width: 100%;
        justify-content: center;
        font-size: 1.5rem;
        height: auto;
    }

    .links li, .social-media li {
        padding: 10px;
        opacity: 0;
    }

   

    

    @keyframes linksFade {
        from {
            transform: translateX(50px); 
            opacity: 0;

        } 

        to {

            transform: translateX(0);     
            opacity: 1;

        }
        
    }




}

@media screen and (max-width: 700px) {
    .blog-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 520px) {
    .email-box {
        flex-direction: column;
        align-items: center;
    }

    .signup-btn {
        margin-top: 30px;
    }
}

